a,
button {
  font-family: var(--font-primary);
  color: var(--color-white);
}

.itemnav {
  text-decoration: underline 0.2rem rgba(0, 0, 0, 0);
  transition: text-decoration-color 600ms;
}

.itemnav:hover {
  text-decoration-color: var(--color-primary);
  color: var(--color-primary) !important;
}
