a,
button {
  font-family: 'Open Sans', 'Roboto Condensed', 'Lato', sans-serif;
  color: #FFFFFF;
}

.itemnav {
  text-decoration: underline 0.2rem rgba(0, 0, 0, 0);
  transition: text-decoration-color 600ms;
}

.itemnav:hover {
  text-decoration-color: #E69C24;
  color: #E69C24 !important;
}
