<div class="row bg-dark" style="min-height:100%; overflow-y: auto;">
	<div id="carouselControls" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item" *ngFor="let recommendation of recommendations">
				recommendation.author
			</div>
		</div>

		<a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>

	</div>
</div>