h1,
h2 {
    font-family: 'Anton', 'Poppins', sans-serif;
}

a.disabled {
    color: gray;
    cursor: not-allowed;
    text-decoration: underline;
}

.new-info-alert {
    background-color: #9AB9BC;
    height: 3rem;
    vertical-align: middle;
    display: flex;
    align-items: center;
}

.card {
    width: 25rem;
    height: 20rem;
    border-width: 3px 0;
    transition-duration: 700ms;
}

.real-card:hover {
    display: inline-block;
    transform: scale(1.15);
    transition-duration: 700ms;
    /* Safari and Chrome */
    -webkit-transform: scale(1.15);
    /* Firefox */
    -moz-transform: scale(1.15);
    /* IE 9+ */
    -ms-transform: scale(1.15);
    /* Opera */
    -o-transform: scale(1.15);
}

.thumb {
    height: 4rem;
    width: 4rem;
    object-fit: cover;
    float: left;
}

.read-more {
    color: #E69C24;
    text-decoration: none;
}

.read-more:hover {
    text-decoration: underline;
}

.foot-card {
    position: absolute;
    bottom: 1rem;
}

.sci-title {
    font-size: 1.6720rem;
}

.about-text {
    font-family: 'Open Sans', 'Roboto Condensed', 'Lato', sans-serif;
    font-weight: 300;
}

.icon {
    width: 2rem;
}

.icon:hover {
    transform: scale(1.25);
    transition-duration: 0.5s;
    color: #E69C24 !important;
}

.img-icon {
    margin-top: -0.3rem;
}