<div class="container-fluid" style="min-height: -webkit-fill-available; overflow-y: auto;">
    <app-navbar></app-navbar>
    <div *ngIf="loading">
        <div class="row ps-4 pt-5 mt-5">
            <h1 translate>publi.title</h1>
        </div>
        <div class="row">
            <div translate class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mt-3 ps-5 px-sm-5 px-md-5 about-text">
                publi.description
                <br>
                <div class="row mt-3">
                    <div class="col">
                        <div class="alert new-info-alert" role="alert">
                            <fa-icon icon="info-circle" class="me-2"></fa-icon>
                            <small class="text-dark" translate>publi.tip</small>
                        </div>
                    </div>
                </div>
                <div class="row" style="font-size: 2rem;">
                    <a href="https://lucasbsilva29.medium.com/" class="text-white ms-2 mt-2 icon"
                        aria-label="Check my Medium" target="_blank" disableWhenOffline>
                        <fa-icon [icon]="['fab', 'medium']"></fa-icon>
                    </a>
                    <a href="https://dev.to/lucs1590" class="text-white ms-2 mt-2 icon" aria-label="Check my Dev.to"
                        target="_blank" disableWhenOffline>
                        <fa-icon [icon]="['fab', 'dev']"></fa-icon>
                    </a>
                    <a href="https://scholar.google.com.br/citations?user=lwCbcswAAAAJ&hl"
                        class="text-white ms-2 mt-2 icon" aria-label="Check my Google Scholar" target="_blank"
                        disableWhenOffline>
                        <img NgOptimizedImage [src]="scholarImage" class="img-icon"
                            (mouseover)="defineIconImage($event)" (mouseout)="defineIconImage($event)" height="28rem"
                            loading="lazy" alt="Google Scholar">
                    </a>
                    <a href="https://www.researchgate.net/profile/Lucas-Brito-Silva" class="text-white ms-2 mt-2 icon"
                        aria-label="Check my ResearchGate" target="_blank" disableWhenOffline>
                        <fa-icon [icon]="['fab', 'researchgate']"></fa-icon>
                    </a>
                </div>
            </div>
            <!-- <div>
        <img NgOptimizedImage src="../../../assets/img/writer.jpeg" class="img-fluid" alt="Writer Image"
            style="height: 15rem;width: 60rem;object-fit: cover;" loading="lazy">
    </div> -->
        </div>
    </div>

    <div *ngIf="!loading">
        <div class="row ps-3 pt-5 mt-5">
            <ngx-skeleton-loader count="1" class="thumb me-2 mb-1" [theme]="{
            'border-radius': '5px',
            'height': '3rem',
            'width': '10rem',
            'background-color': '#323232',
            'border': '1px solid #323232',
            'animation-duration': '1.2s'
            }">
            </ngx-skeleton-loader>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mt-3 ps-5 px-sm-5 px-md-5 about-text">
                <ngx-skeleton-loader count="3" [theme]="{
                'border-radius': '5px',
                'width': '100%',
                'max-width': '30rem',
                'background-color': '#323232',
                'border': '1px solid #323232',
                'animation-duration': '1.2s'
                }"></ngx-skeleton-loader>
                <br>
                <ngx-skeleton-loader count="1" [theme]="{
                'border-radius': '5px',
                'height': '3rem',
                'width': '100%',
                'max-width': '60rem',
                'background-color': '#323232',
                'border': '1px solid #323232',
                'animation-duration': '1.2s'
                }"></ngx-skeleton-loader>
                <div class="row" style="font-size: 2rem;">
                    <ngx-skeleton-loader count="4" [theme]="{
                    'border-radius': '5px',
                    'width': '2rem',
                    'height': '2rem',
                    'background-color': '#323232',
                    'border': '1px solid #323232',
                    'margin-left': '0.5rem',
                    'animation-duration': '1.2s'
                    }"></ngx-skeleton-loader>
                </div>
            </div>
        </div>
    </div>

    <div class="row text-white ps-3 mt-5 mb-3">
        <h2 translate>publi.blog-subtitle</h2>
    </div>

    <!-- Blog Publications List -->
    <div class="publications-container pb-4">
        <ng-container *ngIf="loading; else skeletonTemplate">
            <div class="publication-card" *ngFor="let pub of (blogPublications?.slice(0, 6) || []); trackBy: trackByPublicationId">
                <div class="pub-content">
                    <div class="pub-header">
                        <h3 class="pub-title">
                            <a [href]="pub.url" target="_blank" class="title-link" disableWhenOffline>
                                {{ pub.title }}
                            </a>
                        </h3>
                        <div class="pub-meta">
                            <span class="pub-authors" *ngIf="pub.author">{{ pub.author }}</span>
                            <span class="pub-venue">
                                <fa-icon icon="calendar" class="me-1"></fa-icon>
                                {{ pub.publicationDate | date:'mediumDate'}}
                            </span>
                            <span class="pub-type-badge type-blog">
                                Blog
                            </span>
                        </div>
                    </div>
                    
                    <div class="pub-description about-text" [innerHTML]="pub.description"></div>
                    
                    <div class="pub-links">
                        <a [href]="pub.url" class="pub-link-btn" target="_blank" disableWhenOffline
                            [attr.aria-label]="'Read post: ' + pub.title">
                            <fa-icon icon="link" class="me-1"></fa-icon>
                            <span translate>publi.read-more</span>
                        </a>
                    </div>
                </div>
                <div class="pub-image" *ngIf="pub.image">
                    <img [src]="pub.image" [alt]="pub.title" class="img-fluid" loading="lazy">
                </div>
            </div>

            <div *ngIf="blogPublications && blogPublications.length === 0" class="text-center text-white mt-5">
                <div class="alert new-info-alert" role="alert">
                    <fa-icon icon="info-circle" class="me-2"></fa-icon>
                    <span class="text-dark" translate>publi.blog-not-found</span>
                </div>
            </div>
        </ng-container>

        <ng-template #skeletonTemplate>
            <div>
                <div class="card mt-5 text-white bg-dark border-white rounded-0 border-right-0 border-left-0">
                    <div class="card-body">
                        <div class="card-title">
                            <ngx-skeleton-loader count="1" [theme]="{
                                'border-radius': '5px',
                                'width': '100%',
                                'max-width': '13rem',
                                'height': '3rem',
                                'background-color': '#323232',
                                'border': '1px solid #323232',
                                'animation-duration': '1.2s'
                            }"></ngx-skeleton-loader>
                        </div>
                        <div class="card-text">
                            <ngx-skeleton-loader count="3" [theme]="{
                                'margin-left': '1rem',
                                'border-radius': '5px',
                                'width': '100%',
                                'max-width': '21.5rem',
                                'background-color': '#323232',
                                'border': '1px solid #323232',
                                'animation-duration': '1.2s'
                            }"></ngx-skeleton-loader>
                        </div>
                        <div class="row w-100 foot-card">
                            <div class="col">
                                <ngx-skeleton-loader count="1" [theme]="{
                                    'margin-left': '1rem',
                                    'border-radius': '5px',
                                    'width': '100%',
                                    'max-width': '5rem',
                                    'background-color': '#323232',
                                    'border': '1px solid #323232',
                                    'animation-duration': '1.2s'
                                }"></ngx-skeleton-loader>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>

    <div class="row text-white ps-3 mb-3 mt-5">
        <h2 translate>publi.sci-subtitle</h2>
    </div>

    <!-- Filter Controls -->
    <div class="row ps-3 mb-4" *ngIf="loading">
        <div class="col-12 col-md-6 col-lg-4 mb-2">
            <label class="text-white mb-2 filter-label" translate>publi.filter-year</label>
            <select class="form-select filter-select" [(ngModel)]="selectedYear" (change)="onYearChange(selectedYear)"
                aria-label="Filter by year">
                <option value="all" translate>publi.all-years</option>
                <option *ngFor="let year of availableYears; trackBy: trackByYear" [value]="year">{{ year }}</option>
            </select>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-2">
            <label class="text-white mb-2 filter-label" translate>publi.filter-type</label>
            <select class="form-select filter-select" [(ngModel)]="selectedType" (change)="onTypeChange(selectedType)"
                aria-label="Filter by type">
                <option value="all" translate>publi.all-types</option>
                <option *ngFor="let type of availableTypes; trackBy: trackByType" [value]="type">{{ type | titlecase }}</option>
            </select>
        </div>
    </div>

    <!-- Publications List -->
    <div class="publications-container pb-4">
        <ng-container *ngIf="loading; else skeletonTemplate">
            <div class="publication-card" *ngFor="let pub of filteredSciPublications; trackBy: trackByPublicationId">
                <div class="pub-content">
                    <div class="pub-header">
                        <h3 class="pub-title">
                            <a [href]="pub.url" target="_blank" class="title-link" disableWhenOffline>
                                {{ pub.title }}
                            </a>
                        </h3>
                        <div class="pub-meta">
                            <span class="pub-authors">{{ pub.author }}</span>
                            <span class="pub-venue" *ngIf="pub.venue">
                                <fa-icon icon="book-open" class="me-1"></fa-icon>
                                {{ pub.venue }}, {{ pub.year }}
                            </span>
                            <span class="pub-type-badge" [ngClass]="'type-' + pub.type">
                                {{ pub.type | titlecase }}
                            </span>
                        </div>
                    </div>

                    <div class="pub-description about-text" [innerHTML]="pub.description"></div>

                    <div class="pub-links">
                        <a [href]="pub.url" class="pub-link-btn" target="_blank" disableWhenOffline
                            [attr.aria-label]="'View publication: ' + pub.title">
                            <fa-icon icon="link" class="me-1"></fa-icon>
                            <span translate>publi.view-publication</span>
                        </a>
                        <a *ngIf="pub.pdfUrl" [href]="pub.pdfUrl" class="pub-link-btn" target="_blank"
                            disableWhenOffline [attr.aria-label]="'Download PDF: ' + pub.title">
                            <fa-icon icon="file-pdf" class="me-1"></fa-icon>
                            <span>PDF</span>
                        </a>
                        <a *ngIf="pub.doi" [href]="'https://doi.org/' + pub.doi" class="pub-link-btn" target="_blank"
                            disableWhenOffline [attr.aria-label]="'View DOI: ' + pub.title">
                            <fa-icon icon="bookmark" class="me-1"></fa-icon>
                            <span>DOI</span>
                        </a>
                        <a *ngIf="pub.githubUrl" [href]="pub.githubUrl" class="pub-link-btn" target="_blank"
                            disableWhenOffline [attr.aria-label]="'View code: ' + pub.title">
                            <fa-icon [icon]="['fab', 'github']" class="me-1"></fa-icon>
                            <span>Code</span>
                        </a>
                    </div>
                </div>
                <div class="pub-image" *ngIf="pub.image">
                    <img [src]="pub.image" [alt]="pub.title" class="img-fluid" loading="lazy">
                </div>
            </div>

            <div *ngIf="filteredSciPublications.length === 0" class="text-center text-white mt-5">
                <div class="alert new-info-alert" role="alert">
                    <fa-icon icon="info-circle" class="me-2"></fa-icon>
                    <span class="text-dark" translate>publi.sci-not-found</span>
                </div>
            </div>
        </ng-container>

        <ng-template #skeletonTemplate>
            <div>
                <div class="card mt-5 text-white bg-dark border-white rounded-0 border-right-0 border-left-0">
                    <div class="card-body">
                        <div class="card-title">
                            <ngx-skeleton-loader count="1" [theme]="{
                                'border-radius': '5px',
                                'width': '100%',
                                'max-width': '13rem',
                                'height': '3rem',
                                'background-color': '#323232',
                                'border': '1px solid #323232',
                                'animation-duration': '1.2s'
                            }"></ngx-skeleton-loader>
                        </div>
                        <div class="card-text">
                            <ngx-skeleton-loader count="3" [theme]="{
                                'margin-left': '1rem',
                                'border-radius': '5px',
                                'width': '100%',
                                'max-width': '21.5rem',
                                'background-color': '#323232',
                                'border': '1px solid #323232',
                                'animation-duration': '1.2s'
                            }"></ngx-skeleton-loader>
                        </div>
                        <div class="row w-100 foot-card">
                            <div class="col">
                                <ngx-skeleton-loader count="1" [theme]="{
                                    'margin-left': '1rem',
                                    'border-radius': '5px',
                                    'width': '100%',
                                    'max-width': '5rem',
                                    'background-color': '#323232',
                                    'border': '1px solid #323232',
                                    'animation-duration': '1.2s'
                                }"></ngx-skeleton-loader>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</div>