.imgPrincipal {
    background-repeat: no-repeat;
    background-size: cover;
}

#title_name {
    font-family: 'Montserrat', 'Anton', 'Poppins', sans-serif;
    font-size: 8rem;
}

.sobre_text {
    font-family: 'Open Sans', 'Roboto Condensed', 'Lato', sans-serif;
    font-weight: 300;
    color: white;
}

h2,
h3 {
    font-family: 'Anton', 'Poppins', sans-serif;
}

h5 {
    font-weight: bold;
}

hr {
    width: 25rem;
    border-top: 0.35rem solid rgba(255, 255, 255, 0.3);
}

a {
    text-decoration: none;
    font-family: 'Open Sans', 'Roboto Condensed', 'Lato', sans-serif;
    font-weight: 300;
    color: white;
}

a:visited {
    font-family: 'Open Sans', 'Roboto Condensed', 'Lato', sans-serif;
    font-weight: 300;
    color: white;
}