<div class="row" style="min-height: -webkit-fill-available;">
  <div class="col-lg-8 text-light bg-dark mh-100">
    <div class="d-flex justify-content-center">
      Lucas Brito
      
      Aluno de Big Data no Agronegócio
    </div>
    <div class="d-flex align-items-start">
      Descrição

      blablabablbabbabalbabbablablababablalalalblbabalblbabalbalbalbablbablablbalbaba
    </div>
    <div class="d-flex justify-content-center">
      Contatos
    </div>
  </div>
  <div class="col-lg-4 mh-100 imgPrincipal">
  </div>
</div>